@import url('./base.css');
@import url('./layout.css');
@import url('./theme.css');
@import url('./mobile.css');
@import url('./desktop.css');
@import url('./alerts.css');
@import url('./components/year-marker.css');
@import url('./components/timeline-event.css');
@import url('./components/filter-panel.css');
@import url('./components/options-button-panel.css');
@import url('./components/platform-icons.css');
@import url('./components/options-panel.css');
@import url('./components/stats-panel.css');
@import url('./components/timeline-event-details.css');
@import url('./components/watched-status-icon.css');
@import url('./components/rating-stars.css');
@import url('./components/initial-prompt.css');
@import url('./components/legend-panel.css');
@import url('./components/modal-window.css');
@import url('./components/details-panels.css');
@import url('./components/forms-buttons.css');
@import url('./components/forms-selects.css');
@import url('./components/forms-inputs.css');
