.export-button-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 1em;
  border-top: 1px dashed #eee;
}

/* making it a little smaller than default */
button.options {
  padding: 0.4em 0.8em;
  font-size: 0.9em;
}

