.notes {
  margin-top: 8px;
  padding: 8px;
  background: #f0f8ff;
  border-left: 3px solid #0077cc;
  display: none;
}

.notes.show {
  display: block;
}

.notes-indicator {
  margin-left: 8px;
  font-size: 1.1em;
  color: #0077cc;
}
.notes-toggle-icon {
  padding: 0.4em 0.8em;
  font-size: 0.9em;
}

